.card {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 400px;
}
.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
.card-deck {
  margin-top: 20px;
  margin-bottom: 20px;
}
#cards{
  padding-top: 10px;
}

form {
  padding-top: 10px;
  width: 50%;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-wrapper .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex-grow: 1;
}

.card-body {
  margin-top: auto;
}
