<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/styles/profile-pic.css">
   </head>
   <body>
      {% include 'main_page/navbars/boxer-navbar.html' %}
      <div class="container mt-5">
         <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
               <img src="data:image/png;base64,{{profile['picture']}}" class="profile-pic mb-3" alt="Boxer Picture">
           
               <h2>{{profile['username']}}</h2>
               <p>Ratings: {{profile['ratings']}}</p>
               <hr>
               <h5>Profile Information</h5>
               <p>Full Name: {{profile['fullname']}}</p>
               <p>Weight: {{profile['Weight']}}</p>
               <p>Height: {{profile['feet']}}' {{profile['inches']}}"</p>
               <p>Age: {{profile['Age']}}</p>
               <p>Number of Fights: {{profile['numberoffights']}}</p>
               <p>Years of experience: {{profile['yearsofexperience']}}</p>
               <p>Language: {{profile['language']}}</p>
               <p>Zipcode: {{profile['zipcode']}}</p>
               <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#editModal">Edit</button>
               <hr>
               <h5>Events Attended</h5>
               {% for event in profile['events'] %}
               <p>{{ event }}</p>
               {% endfor %}
               <!-- Modal -->
               <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <!---->
                           <div class="container mt-5">
                              <div class="row">
                                 <div class="col-md-6 offset-md-3">
                                    <form method="POST" action="/boxer-profile" id="edit-boxer-form" enctype="multipart/form-data">
                                       <div class="form-group">
                                          <label for="fullname">Full Name</label>
                                          <input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" name="fullname" value="{{profile['fullname']}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="weight">Weight (in lbs)</label>
                                          <input type="number" class="form-control" id="weight" placeholder="Enter Weight" min="90" max="300" name="weight" value="{{profile['Weight']}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="height-feet">Height</label>
                                          <div class="row">
                                             <div class="col">
                                                <select class="form-control" id="height-feet" name="feet">
                                                   <option selected value="{{profile['feet']}}">Feet</option>
                                                   <option value="4">4 ft</option>
                                                   <option value="5">5 ft</option>
                                                   <option value="6">6 ft</option>
                                                   <option value="7">7 ft</option>
                                                </select>
                                             </div>
                                             <div class="col">
                                                <select class="form-control" id="height-inches" name="inches" value="{{profile['inches']}}">
                                                   <option selected value="{{profile['inches']}}">Inches</option>
                                                   <option value="0">0 in</option>
                                                   <option value="1">1 in</option>
                                                   <option value="2">2 in</option>
                                                   <option value="3">3 in</option>
                                                   <option value="4">4 in</option>
                                                   <option value="5">5 in</option>
                                                   <option value="6">6 in</option>
                                                   <option value="7">7 in</option>
                                                   <option value="8">8 in</option>
                                                   <option value="9">9 in</option>
                                                   <option value="10">10 in</option>
                                                   <option value="11">11 in</option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="form-group">
                                          <label for="age">Age</label>
                                          <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age" value="{{profile['Age']}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="fights">Number of Fights</label>
                                          <input type="number" class="form-control" id="numberoffights" placeholder="Enter Number of fights" name="number_of_fights" value="{{profile['numberoffights']}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="experience">Years of Experience</label>
                                          <input type="number" class="form-control" id="experience" placeholder="Enter Years of Experience" name="years_of_experience" value="{{profile['yearsofexperience']}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="language">Language</label>
                                          <select class="form-control" id="language" name="language">
                                                {% if profile['language'] == 'french' %}
                                                  <option value="french">French</option>
                                                  <option value="english">English</option>
                                                {% else %}
                                                  <option value="english">English</option>
                                                  <option value="french">French</option>
                                                {% endif %}
                                              </select>
                                       </div>
                                       <div class="form-group">
                                          <label for="zipcode">Zipcode</label>
                                          <input type="text" class="form-control" id="zipcode" placeholder="Enter Zipcode" name="zipcode" value="{{profile['zipcode']}}">
                                       </div>
                                       <div class="form-group">
                                          <label for="picture">Picture</label>
                                          <img src="data:image/png;base64,{{profile['picture']}}" class="mini-profile-pic mb-3" alt="Boxer Picture">
                                          <input type="hidden" value="{{profile['picture']}}" name="picture_base64">
                                          <input type="file" class="form-control-file" id="picture" accept="image/*" name="picture">
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <!---->
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-primary" form="edit-boxer-form">Save Changes</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   </body>
</html>